body {
    font-family: "Arial", sans-serif;
    color: orangered;
    background-image: url("https://img.freepik.com/free-vector/dark-metal-background_1048-1026.jpg?w=740&t=st=1688858830~exp=1688859430~hmac=e05bee0f87ee3914d5eceb4066be7fb6a6738faa833cc1c32e20968de134290e");
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: orangered !important;
    background-color: red !important;
}

.home-button {
    width: 40px;
    height: 40px;
}

.navbar {
    background-color: #333;
    padding: 10px;
}

    .navbar ul {
        list-style-type: none;
        display: flex;
    }

    .navbar li {
        margin-right: 10px;
    }

        .navbar li a {
            color: white;
            text-decoration: none;
            padding: 5px;
        }

.main-content {
    margin-bottom: 20px;
}

.container_picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header_title {
    font-size: 24px;
    margin-bottom: 20px;
    color: orangered;
}

.footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    color: orangered;
}
