body {
}

.title-page {
    color: #ff4c00;
    font-size: 48px;
    margin-bottom: 100px;
}

.vehicle-options-title{
    color: white;
}

.add-vehicle-btn,
.add-vehicle-btn:link,
.add-vehicle-btn:visited {
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    border-radius: 0;
    color: white;
    background-color: #32cd32;
    text-decoration: none; 
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.add-vehicle-btn:hover {
    background-color: white; 
    color: #32cd32; 
}


.vehicle-options {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

/*#fa1c0c;*/

.remove-vehicle-btn,
.remove-vehicle-btn:link,
.remove-vehicle-btn:visited {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    border-radius: 0;
    color: white;
    background-color: #fa1c0c;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.remove-vehicle-btn:hover {
    background-color: white;
    color: #fa1c0c;
}

/*#4187f0;*/


.edit-vehicle-btn,
.edit-vehicle-btn:link,
.edit-vehicle-btn:visited {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    border-radius: 0;
    color: white;
    background-color: #4187f0;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

    .edit-vehicle-btn:hover {
        background-color: white;
        color: #4187f0;
    }
