body {
}

.title-page {
    color: #ff4c00;
    font-size: 48px;
    margin-bottom: 100px;
}

.vehicle-options-title{
    color: white;
}

.add-vehicle-btn {
    padding: 10px 300px;
    font-size: 16px;
    border: none;
    border-radius: 0;
    color: white;
    background-color: #32cd32;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.add-vehicle-btn:hover {
    background-color: white;
    color: black; 
}

.vehicle-options {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.remove-vehicle-btn {
    padding: 10px 300px;
    font-size: 16px;
    border: none;
    border-radius: 0;
    color: white;
    background-color: #fa1c0c;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.remove-vehicle-btn:hover {
    background-color: white;
    color: black;
}

.edit-vehicle-btn {
    padding: 10px 300px;
    font-size: 16px;
    border: none;
    border-radius: 0;
    color: white;
    background-color: #4187f0;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.edit-vehicle-btn:hover {
    background-color: white;
    color: black;
}