body {
}

.manufacturer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.manufacturer-item {
    background-color: #e8e7e7;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    width: 1000px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.manufacturer-item h2 {
    text-align: center;
    color: #ff4c00;
}

.manufacturer-item img {
    width: 25%;
    height: auto;
}

.model-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.model-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: calc(100% / 3 - 20px); /* Adjust based on your design preference */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: 300px;
}

.model-item h3 {
    text-align: center;
    color: black;
}

.model-item img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.model-item p {
    text-align: center;
    color: #333;
    font-size: 14px;
}
