@model UserViewModel;

<link rel="stylesheet" href="~/css/configuration/create.css">

<div class="begin-text">
    <h2>You can begin by selecting your Vehicle first!</h2>
</div>
<div class="line">
    <a asp-controller="Vehicle" asp-action="Select" class="select-vehicle-button">Click here to Select Your Vehicle</a>
</div>
