﻿@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/error/error404.css">

<div class="error-container">
    <div class="error-icon">
        &#128561; <!-- This is a Unicode emoji for a sad face. You can replace it with any other symbol or image. -->
    </div>
    <div class="error-message">
        Oops! Page not found
    </div>
    <div class="error-description">
        The page you're looking for might have been moved, renamed, or might never have existed.
    </div>
    <a href="/" class="home-button">Go Back to Home</a>
</div>