@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site/homePage.css?v=2.0">
<html>
<body class="body">
    <h1 class="home-page-title" data-text="Welcome to RevTeck!"><span>Welcome to RevTeck!</span></h1>

    <div class="main-container">
        <div class="about-revteck">
            <p>
                RevTeck is a Car Tuning Configuration Website. Make sure to unleash the most out of your vehicle! We are sure it has great potential.
                This is the perfect place for vivid vehicle racing fans, who are ready to push their vehicle to the max limit through tuning.
                We have a vast range of a Tuning Part Collection, such as Turbochargers, Exhaust Kits, Superchargers, and many more!
                Make sure to explore what our Business Partners have to offer in terms of parts.
                They are globally recognized in the world of Tuning. Enjoy!
            </p>
        </div>

        <h2 class="partners-title">Here is a list of our top-notch quality parts providers.</h2>


        <div class="image-container">
            <div class="image-list" id="imageList">
                <img src="https://www.garrettmotion.com/wp-content/uploads/2018/09/Garrett_Logo_RGB_w_Space.bmp" alt="Image 1">
                <img src="https://logowik.com/content/uploads/images/akrapovic2649.jpg" alt="Image 1">
                <img src="https://www.armytrixusa.com//genThumb1.php?file=images%2Farmytrix-no-image.jpg&sizex=358&sizey=0&quality=90" alt="Image 1">
                <img src="https://static.wixstatic.com/media/a1fa37_c8851299e01a4ad0b26caffcc8c492ee~mv2.jpg/v1/fit/w_2500,h_1330,al_c/a1fa37_c8851299e01a4ad0b26caffcc8c492ee~mv2.jpg" alt="Image 1">
                <img src="https://meineinkauf.ch/fileadmin/me/Haendlerlogos_A-E/288968_bar-tek.jpg" alt="Image 1">
                <img src="https://everythingeuro.com/wp-content/uploads/2021/07/APR-Tuning.jpg" alt="Image 1">
            </div>
        </div>

        <div class="line">
            <a asp-controller="Configuration" asp-action="Create" class="configuration-button">Begin Your Configuration!</a>
        </div>

        <div class="introduction_video">
            <h2 class="video_title">This is how an Audi RS6 sounds with an exhaust kit provided from Armytrix!</h2>
            <iframe class="rs6_video" width="600" height="338" src="https://www.youtube.com/embed/lLFs-fJ7eLs" title="AUDI RS6 C7 SPORTBACK W/ ARMYTRIX CAT-BACK EXHAUST BY BBM MOTORSPORT" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    <div class="image-with-text">
        <img class="introduction_img" src="~/img/RevTeck_Logo2.png">
        <div class="image-overlay-text">We in RevTeck are aware that every car can be pushed to its limits, those boosted vehicles should be operated either by professionals or in the limits of the law! We value your health, but we do not take account in the consequences.</div>
    </div>



</body>
</html>
<script src="~/js/site/homePage.js"></script>

