@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homePage.css">
<html>
<body class="body">
    <div class="introduction_text">
        <p>
            Welcome to RevTeck, your destination for performance part tuning! Unleash your vehicle's potential with our top-notch products. Find the perfect upgrades for power, agility, and performance. Explore our curated collection for motorheads of all levels. Our experts have handpicked quality parts from reputable manufacturers. Browse our user-friendly website with ease. Join our community of automotive enthusiasts. Elevate your driving game with RevTeck. Experience automotive excellence today!
        </p>
        <img class="introduction_img"src ="~/img/RevTeck_Logo2.png">
    </div>

    <div class="line">
        <a asp-controller="Configuration" asp-action="Create" class="configuration-button">Begin Your Configuration!</a>
    </div>

    <div class="introduction_video">
        <h2 class="video_title">Audi RS6 With Armytrix Exhaust</h2>
        <iframe class ="rs6_video"width="1063" height="598" src="https://www.youtube.com/embed/lLFs-fJ7eLs" title="AUDI RS6 C7 SPORTBACK W/ ARMYTRIX CAT-BACK EXHAUST BY BBM MOTORSPORT" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</body>
</html>`