body {
}
/* General styling for the list */
/* General styling for the list */
#orderedPartsList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card{
    margin-bottom: 100px;
}

.part-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.part-type,
.part-manufacturer,
.part-model,
.part-price {
    margin-right: 10px;
}


.parts-amount {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 24px;
    background-color: #f2f2f2;
    padding: 15px;
    border-top: 2px solid #ccc;
    color: #333;
    margin-top: 10px;
}
.total-amount {
    color: #e44200;
}

.card-body {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-control {
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.text-danger {
    font-size: 0.8em;
}
.custom-btn {
    background-color: #4CAF50; /* Green background */
    border: 1px solid #4CAF50; /* Green border */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 4px; /* Rounded corners */
    text-align: center; /* Centered text */
}

    .custom-btn:hover {
        background-color: #45a049; /* Darker green on hover */
    }

/* Make form fields wider */


/* Additional Styling for Stripe Elements */
.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}
.form-group-inline {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

/* The Modal (background) */
.modal {
    display: block; /* Set to block to make it always visible */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: ; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Fixed width */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow */
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

/* Modal Header */
.modal-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Modal Body */
.modal-content p {
    font-size: 18px;
    margin-bottom: 20px;
}
