<link rel="stylesheet" href="~/css/admin/adminPage.css">
<h1 class="title-page">Admin Actions</h1>

<div class="vehicle-options">
    <h3 class="vehicle-options-title">Vehicle Options:</h3>
    <a asp-controller="Admin" asp-action="AddVehicle" class="add-vehicle-btn">Add a Vehicle</a>
    <a asp-controller="Admin" asp-action="AllVehicles" class="all-vehicle-btn">All Vehicles</a>
</div>
<div class="engine-options">
    <h3 class="engine-options-title">Engine Options:</h3>
    <a asp-controller="Admin" asp-action="AddEngine" class="add-engine-btn">Add an Engine</a>
    <a asp-controller="Admin" asp-action="AllEngines" class="all-engines-btn">All Engines</a>
    <a asp-controller="Admin" asp-action="AssignEngineToVehicle" class="assign-engine-btn">Assign An Engine To a Vehicle</a>
</div>