<link rel="stylesheet" href="~/css/admin/adminPage.css">
<h1 class="title-page">Admin Actions</h1>

<div class="vehicle-options">
    <h3 class="vehicle-options-title">Vehicle Options:</h3>
    <a asp-controller="Admin" asp-action="AddVehicle" class="add-vehicle-btn">Add a Vehicle</a>
    <a asp-controller="Admin" asp-action="RemoveVehicle" class="remove-vehicle-btn">Remove a Vehicle</a>
    <a asp-controller="Admin" asp-action="EditVehicle" class="edit-vehicle-btn">Edit a Vehicle</a>
</div>