@model AddEngineViewModel;

<link rel="stylesheet" href="~/css/admin/addEngine.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h1 class="title-page">Add Engine</h1>

<form action = "/Admin/AddEngine" method="post" class="add-engine-form">
   
    <label for="name">Engine Name:</label>
    <input type="text" id="name" name="name" required>
    <br>

    <label for="horsePower">Engine Horse Power:</label>
    <input type="number" id="horsePower" name="horsePower" required>
    <br>

    <label for="torque">Engine Torque:</label>
    <input type="number" id="torque" name="torque" required>
    <br>

    <label for="carModels">Assign To A Model:</label>
    <select id="carModels" name="carModelId"></select>
    <br>

    <div class="submit-button-line">
        <input type="submit" value="Add Engine" class="submit-button">
    </div>
</form>

<script src="~/js/admin/addEngine.js"></script>