body {
}
.nav-item-opt {
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 200px;
    margin-bottom: 25px;
}

.nav-item-opt a {
    color: black;
    text-decoration: none; 
}

.nav-item-opt .nav-link {
    background-color: #e8e7e7;
}

.nav-item-opt .nav-link active {
    color: #e8e7e7;
}

.nav-item-opt.active a {
    color: white;
}
.admin-reg-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 200px;
    margin-top: 50px;
    border-radius: 5px;
    margin-bottom: 100px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    z-index: 1000;
}

.modal-content {
    background-color: #e8e7e7;
    margin: 15% auto;
    padding: 20px;
    width: 70%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

    .modal-header h2 {
        margin: 0;
    }

.modal-body {
    padding: 20px 0;
}

.modal-title{
    font-size: 25px;
    color: black;
}

.modal-footer {
    text-align: right;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    cursor: pointer;
    margin-bottom: 80px;
}

    .close:hover {
        color: #000;
    }

#admin-password {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

#register-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#register-button:hover {
    background-color: darkred;
}
