body {
}
.title-page {
    font-size: 84px;
    margin-bottom: 30px;
    color: #ff4c00;
}

/* Center the form content */
#account {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

/* Add spacing between form elements */
.form-floating {
    margin-bottom: 20px;
    width: 90%;
}

/* Custom styles for the form container */
.rounded {
    border-radius: 10px;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bg-light {
    background-color: #f8f9fa;
}

h2 {
    color: #000000; /* Set the color to black (#000000) */
    text-align: center;
}

/* Center the form container within the row */
.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

/* Add margin to the button */
#login-submit {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 200px;
    margin-bottom: 25px;
}

#login-submit:hover {
    background-color: red;
    color: white;
}


#register-as-new-user {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 200px;
}

#register-as-new-user:hover {
    background-color: red;
    color: white;
}