@model PaymentDetailsViewModel

<link rel="stylesheet" href="~/css/payment/payment.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Payment Details</h3>
                </div>
                <div class="card-body">
                    <form id="paymentForm" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="FirstName">First Name</label>
                            <input type="text" name="FirstName" id="FirstName" class="form-control" pattern="[A-Za-z]{1,20}" maxlength="20" value="@Model.FirstName" required />
                        </div>
                        <div class="form-group">
                            <label for="LastName">Last Name</label>
                            <input type="text" name="LastName" id="LastName" class="form-control" pattern="[A-Za-z]{1,20}" maxlength="20" value="@Model.LastName" required />
                        </div>

                        <div class="form-group">
                            <label for="PhoneNumber">Phone Number</label>
                            <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-control" maxlength="10" pattern="\d*" autocomplete="off" required />
                        </div>
                        <div class="form-group">
                            <label for="Country">Country</label>
                            <input type="text" name="Country" id="Country" class="form-control" value="Bulgaria" readonly />
                        </div>
                        <div class="form-group">
                            <label for="City">City</label>
                            <input type="text" name="City" id="cityInput" class="form-control" maxlength="20" required autocomplete="off" />
                            <div id="cityError" class="text-danger"></div>
                        </div>
                        <div class="form-group">
                            <label for="Address">Delivery Address</label>
                            <input type="text" name="Address" id="Address" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>Card Number</label>
                            <div id="card-number-element"></div>
                        </div>

                        <div class="form-group-inline">
                            <div class="form-group">
                                <label>Expiration Date</label>
                                <div id="card-expiry-element"></div>
                            </div>

                            <div class="form-group">
                                <label>CVC</label>
                                <div id="card-cvc-element"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>ZIP</label>
                            <div id="card-zip-element"></div>
                        </div>

                        <div id="card-errors" role="alert"></div>
                        <div class="form-group mt-4">
                            <button type="button" id="submit-button" class="custom-btn btn-block">
                                Pay Now
                            </button>
                        </div>

                    </form>
                </div>


            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Ordered Parts for your @Model.UserCarDetails</h3>
                </div>
                <div class="card-body">
                    <div id="orderedPartsList">
                    </div>
                    <div class="parts-amount">
                        <div class="total-label">Checkout Total:</div>
                        <div class="total-amount">$@Model.Amount</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="errorModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Error</h2>
        <p id="errorMessage"></p>
    </div>
</div>

@* <div id="successModal" class="modal" style="display: block;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Thank you for your purchase!</h2>
    </div>
</div>

 *@
<script src="~/js/payment/payment.js"></script>
<script src="https://js.stripe.com/v3/"></script>
