body {
}
.line {
    text-align: center; /* Add this line to center the .configuration-button div */
}

h2{
    margin-top:3em;
    text-align: center;
    color: orangered;
    font-size: 44px;
    background-color: black;
    padding: 0.5em 0.5em;
    border-radius: 1em;
    border: 1px solid;
}

/*<h2 > You can begin by selecting your Vehicle first!</h2 >
<div class="line" >
<a asp-controller="Vehicle" asp-action="Select" class="select-vehicle-button" > Click here to Select Your Vehicle</a >
</div >
*/

.line{
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.select-vehicle-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 400px;
}

.select-vehicle-button:hover {
    color: red;
}

