body {
}
.title {
    font-size: 80px;
    color: #ff4c00;
    margin-bottom: 50px;
    text-align: center;
}

.configurations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 100px;
}

.configuration-box {
    position: relative;
    background-color: #e8e7e7;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 100%;
    flex-direction: column;
    display: inline-block;
    box-sizing: border-box;
    justify-content: space-around;
}

.vehicle-info{
    flex: 3;
}

.configuration-info{
    flex: 1;
}
/*.configuration-box h2,
.configuration-box h3,
.configuration-box p {
    overflow-wrap: break-word;
}

.configuration-box h2 {
    font-size: 1.5em;
}

.configuration-box h3 {
    font-size: 1.2em;
}*/
.configuration-box img {
    display:block;
    width:100%;
    height: 100%;
    object-fit: contain;
}

.image-container{
    width: 100%;
    height: 10em;
}

.configuration-info{
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}
/*.configuration-box .price{
}

.configuration-box .horsePower {
}*/
.buttons-container {
    gap: 0.5em;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.buttons-container .edit-btn {
    display: inline-block;
    padding: 4px 10px;
    text-align: center;
    background-color: white;
    color: black;
    border: 1px solid #e8e7e7;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 30px;
    width: 100%;
}

.buttons-container .edit-btn:hover{
    background-color: cornflowerblue;
}


.buttons-container .checkout-btn {
    background-color: white;
    height: 35px;
    border: 1px solid #e8e7e7;
    color: black;
    text-decoration: none;
    text-align: center;
    padding-top: 2px;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
}

.buttons-container .checkout-btn:hover {
    background-color: green;
}
.buttons-container .remove-btn {
    background-color: white;
    border: 1px solid #e8e7e7;
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 35px;
    left: 20px;
    top: 460px;
    width: 100%;
}

.buttons-container .remove-btn:hover {
    background-color: red;
}

.modal {
    display: none;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f9f9f9;
    margin: 100% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
}

#yesButton, #noButton {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;  Set both buttons to have the same width 
    margin-bottom: 10px;  Add space between the buttons 
    background-color: #fff;  Set the default background color to white 
}

    #yesButton:hover, #noButton:hover {
        background-color: #f44336;  Red background color on hover 
    }

#yesButton {
    color: #000;  Set the text color for the "Yes" button 
}

#noButton {
    color: #000;  Set the text color for the "No" button 
}